{% extends 'consultaficha.html' %}

{% load static %}

{% block columns %}
    <tr>
         <th scope="col" style="width: 10%;">id_empleado</th>
        <th scope="col" style="width: 20%;">Fecha_Inicio</th>
        <th scope="col" style="width: 20%;">Fecha_Fin</th>
        <th scope="col" style="width: 20%;">institucion</th>
        <th scope="col" style="width: 20%;">Titulo</th>

    </tr>
{% endblock %}

{% block rows %}
  <tr>
      <td>001</td>
      <td>2019</td>
      <td>2024</td>
      <td>Universidad Estatal de Milagro</td>
      <td>Ingenieria en Sistemas</td>

      <td class="acciones">
        <a href="{% url 'formAcademico' %}">✏️</a>
        <a href="#">❌</a>
      </td>
  </tr>
    <tr>
      <td>002</td>
      <td>2022</td>
      <td>2024</td>
      <td>Universidad Estatal de Milagro</td>
      <td>Auditoria publica</td>
      <td class="acciones">
        <a href="{% url 'formAcademico' %}">✏️</a>
        <a href="#">❌</a>
      </td>
  </tr>
{% endblock %}