{% extends 'consulta.html' %}
{% load static %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 20%;">Nombre</th>
        <th scope="col" style="width: 10%;">Cedula</th>
        <th scope="col" style="width: 30%;">Celular/Telefono</th>
        <th scope="col" style="width: 10%;">Parentesco</th>
        <th scope="col" style="width: 15%;">Dirrecion</th>
    </tr>
{% endblock %}

{% block rows %}
  <tr>
      <td>Daniel Vera</td>
      <td>0914123458</td>
      <td>002268678</td>
      <td>Padre</td>
      <td>Cdla.Los vergeles</td>
      <td class="acciones">
        <a href="{% url 'formcontactoemergencia' %}">✏️</a>
        <a href="#">❌</a>
      </td>
  </tr>
    <tr>

      <td>Erick Bohorquez</td>
      <td>0914123458</td>
      <td>002268678</td>
      <td>Madre</td>
      <td>Cdla.Las piñas</td>
      <td class="acciones">
        <a href="{% url 'formcontactoemergencia' %}">✏️</a>
        <a href="#">❌</a>
      </td>
  </tr>
{% endblock %}