{% extends 'formulario.html' %}
{% load static %}

{% block controls %}
    <div class="col-md-4">
        <label for="inputEmail4" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-4">
        <label for="inputPassword4" class="form-label">Cedula</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-5">
        <label for="inputAddress" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
    </div>
    <div class="col-2">
        <label for="inputAddress" class="form-label">Fecha de nacimiento</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
    </div>
    <div class="col-4">
        <label for="inputAddress2" class="form-label">nacionalidad</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="">
    </div>
    <div class="col-md-4">
        <label for="inputCity" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-2">
        <label for="inputState" class="form-label">Estado civil</label>
        <select id="inputState" class="form-select">
            <option selected>Soltero</option>
            <option>Casado</option>
            <option>Viudo</option>
        </select>
    </div>
     <div class="col-md-2">
        <label for="inputZip" class="form-label">Tipo de contrato</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
     <div class="col-md-2">
        <label for="inputZip" class="form-label">Fecha_IESS</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-md-2">
        <label for="inputState" class="form-label">id_Cargo</label>
        <select id="inputState" class="form-select">
            <option selected>gerente</option>
            <option>administrador</option>
            <option>obrero</option>
            <option>otro</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="inputState" class="form-label">id_departamento</label>
        <select id="inputState" class="form-select">
            <option selected>logistica</option>
            <option>administracion</option>
            <option>ventas</option>
        </select>
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">Fecha de ingreso</label>
        <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-md-2">
        <label for="inputZip" class="form-label">celular</label>
        <input type="text" class="form-control" id="inputZip">
    </div>




{% endblock %}