{% extends 'formulario.html' %}
{% load static %}

{% block controls %}
    <div class="col-md-2">
        <label for="inputEmail4" class="form-label">Fecha.Inicio</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-2">
        <label for="inputPassword4" class="form-label">Fecha.Fin</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-4">
        <label for="inputAddress" class="form-label">Institucion</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
    </div>
    <div class="col-4">
        <label for="inputAddress2" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="">
    </div>


{% endblock %}