{% extends 'formulario.html' %}
{% load static %}

{% block controls %}
    <div class="col-md-3">
        <label for="inputEmail4" class="form-label">Certificado</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Periodo</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-2">
        <label for="inputAddress" class="form-label">Duracion</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
    </div>


{% endblock %}
