{% extends 'consultaficha.html' %}
{% block titulo %}
   Departamentos
{% endblock %}
{% load static %}

{% block columns %}
    <tr>

        <th scope="col" style="width: 40%;">id_departamento</th>
        <th scope="col" style="width: 40%;">Descripcion</th>


    </tr>
{% endblock %}

{% block rows %}
  <tr>

      <td>001 Administrativa</td>
      <td>Contabibilidad,Recursos Humanos</td>

      <td class="acciones">
        <a href="{% url 'formdepartamento' %}">✏️</a>
        <a href="#">❌</a>
      </td>
  </tr>
    <tr>

      <td>002  Logistica</td>
      <td>Bodega,Despacho</td>
      <td class="acciones">
        <a href="{% url 'formdepartamento' %}">✏️</a>
        <a href="#">❌</a>
      </td>
  </tr>
{% endblock %}