{% extends 'consulta.html' %}
{% load static %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Nombre</th>
        <th scope="col" style="width: 5%;">Cedula</th>
        <th scope="col" style="width: 10%;">Fecha de nacimiento</th>
        <th scope="col" style="width: 30%;">Nacionalidad</th>
        <th scope="col" style="width: 10%;">Estado civil</th>
        <th scope="col" style="width: 15%;">Email</th>
        <th scope="col" style="width: 10%;">Direccion</th>
        <th scope="col" style="width: 30%;">Celular/Telefono</th>
        <th scope="col" style="width: 10%;">Fecha_Iess</th>
        <th scope="col" style="width: 15%;">Tipo de contrato</th>
        <th scope="col" style="width: 10%;">Fecha_Ingreso</th>
        <th scope="col" style="width: 10%;">id_sueldo</th>
        <th scope="col" style="width: 15%;">id_departamento</th>
        <th scope="col" style="width: 10%;">id_cargo</th>
        <th scope="col" style="width: 10%;">Estado</th>

    </tr>
{% endblock %}

{% block rows %}
  <tr>
      <td>Daniel Vera</td>
      <td>0914123458</td>
      <td>1989/03/20</td>
      <td>ecuatorina</td>
      <td>casado</td>
      <td>jcmaop@gmail.com</td>
      <td>Avenida del bombero</td>
      <td>09999999</td>
       <td>2020/03/20</td>
      <td>indefinido</td>
      <td>2020/03/20</td>
       <td>1000</td>
      <td>ventas</td>
      <td>Gerente</td>
       <td>Activo</td>

      <td class="acciones">
        <a href="{% url 'formEmpleado' %}">✏️</a>
        <a href="#">❌</a>
      </td>
  </tr>
    <tr>
       <td>Daniel Vera</td>
      <td>0914123458</td>
      <td>1989/03/20</td>
      <td>ecuatorina</td>
      <td>casado</td>
      <td>jcmaop@gmail.com</td>
      <td>Avenida del bombero</td>
      <td>09999999</td>
       <td>2020/03/20</td>
      <td>indefinido</td>
      <td>2020/03/20</td>
       <td>1000</td>
      <td>ventas</td>
      <td>Gerente</td>
       <td>Activo</td>
      <td class="acciones">
        <a href="{% url 'formEmpleado' %}">✏️</a>
        <a href="#">❌</a>
      </td>
  </tr>
{% endblock %}